#plot_div {
  width: 90%;
  background-color: #D0ECC0;
  margin: auto;
  padding: 20px;
  border-radius: 10px
}

#info_text{
 /* color: #DF572A;*/
  background: #112A46;
  color: #B2E0D3;
  text-align: center;
  padding: 10px;
  font-size: 28px;
  margin: 20px;
  border-radius: 10px;
}

.btn {
  background: #B2E0D3;
  color: #112A46;
  border-radius: 15px;
  font: bold 18px Arial;
  border: 3px solid black;
}

.plotbox {
  background-color: #DAE6E7;
}

.btn-box-tool {
  padding: 2px;
  font: bold 14px Arial;
  border: 2px solid black;
}